.To_Top_Button {
  position: fixed;
  top:20%;
  left:1%;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  opacity: 0;
  background-color: rgba(0,0,30,0.4);
  transition-property: background, color;
  transition-duration: 0.3s;
  text-align: center;
  z-index: 1000;
}

.To_Top_Button:hover {
  background-color: rgba(0,0,30,0.6);
}

.To_Top_Button__Text {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  line-height: 50px;
  align-items: center;
  color: #F2f2f2;
}
